name: Java CI with Maven Project BiliDownload

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up JDK 8
      uses: actions/setup-java@v1
      with:
        java-version: '8'
        java-package: jdk
        architecture: x64

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Package JAR
      uses: actions/upload-artifact@v2
      with:
        path: target/*.jar
